/* font family add */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
body{
  font-family: "Azeret Mono", monospace;
}
*{
  margin: 0;
  padding: 0;
}
/* nav bar style start here */
.nav{
  width: 1515px;
  height: 90px;
  display:  flex;
  justify-content: space-around;
  align-items: center;
}
.name{
  text-align: center;
  width: 115px;
  height: 35px;
  padding-right: 100px;
  margin-right: 400px;
}
.awlad{
  font-size: 28px;
  font-weight: 800px;
  color: rgb(13, 19, 33);
 padding-right: 500px;
}
.btn_praimary{
  width: 220px;
  height: 50px;
  padding: 17px 24px 17px 24px;
  border-radius: 8px;
  color: rgb(13, 19, 33);
  border-style: none;
}
/* nav bar style end here */
/* cover style start here */
.cover_contrinar{
  width: 1515Spx;
  height: 700px;
  background-image: url(../assets/Hero-bg.png);
  margin-bottom: 130px;
}
.img_text_conteinar{
  width: 1010px;
  height: 620px;
  margin: 25px 225px;
  text-align: center;
  padding-top: 70px;
}
.pic_conteina img{
  width: 245px;
  height: 245px;
}
.text_conteinar{
  margin-top: 35px;
}
.title{
  font-size: 39px;
  font-weight: 700;
  margin-bottom: 35px;
  color: rgb(13, 19, 33);
}
.sub_title{
  font-size: 14px;
  font-weight: 400;
  color: rgb(13, 19, 33);
  margin-bottom: 40px;
}
.btn_sec{
  width: 200px;
  height: 50px;
  background-color: rgb(13, 19, 33);
  border-radius: 8px;
  color: white;
  border-style: none;
}
/* cover style end here */
/* main section style start here */
.main_conteinar{
  width: 1150px;
  height: 1200px;
  margin-top: 150px;
  margin: 0 auto;
  background-color: rgba(13, 19, 33, 0.02);
}
.why_conteinar{
  width: 900px;
  height: 130px;
  margin: 0 auto;
  text-align: center;
}
.why_title{
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 30px;
  color: rgb(13, 19, 33);
}
.why_sub_title{
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 55px;
  color: rgb(13, 19, 33);
}
/* sec sub conteinar style  */
.sec_sub_conteinar{
  width: 1000px;
  height: 350px;
  margin-left: 80px;
  display: flex;
  padding-top: 100px;

}
.sec_text_conteinar{
margin-right: 200px;
/* background-color: white; */
}
.sec_text_title{
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  color: rgba(13, 19, 33, 0.7);

}
.sec_sub_title{
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 40px;
  color: rgb(13, 19, 33);
}
/* therd sub conteinar style */
.therd_sub_conteinar{
  width: 1000px;
  height: 350px;
  margin-left: 55px;
  display: flex;
  padding-top: 10px;
}
.therd_text_conteinar{
  margin-left: 50px;
  margin-top: 20px;
}
.therd_text_title{
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  color: rgba(13, 19, 33, 0.7);
}
.therd_sub_title{
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 40px;
  color: rgb(13, 19, 33);
}
/* forth sub conteinar */
.forth_sub_conteinar{
  width: 1000px;
  height: 350px;
  margin-left: 80px;
  display: flex;
  padding-top: 30px;
}
.forth_text_conteinar{
  margin-right: 200px;
}
.forth_text_title{
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  color: rgba(13, 19, 33, 0.7);
}
.forth_sub_title{
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 40px;
  color: rgb(13, 19, 33);
}
/* inspiration section style start here */
.inspiration_conteinar{
  width: 1150px;
  height: 750px;
  margin: 0 auto;
  padding: 70px;
}
.ins_text_conteinar{
  width: 80%;
  height: 20%;
  margin: 0 auto;
  text-align: center;
}
.ins_title_text{
  font-size: 35px;
  font-weight: 800;
  margin-bottom: 25px;
  color: rgb(13, 19, 33);
}
.ins_sub_title{
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 80px;
  color:rgb(13, 19, 33) ;
}
iframe{
  width: 1150px;
  height: 600px;
}
/* inspiration section style end here */
/* current target section style start here */
.current_conteinar{
  width: 1000px;
  height: 120px;
  margin: 0 auto;
  text-align: center;
}
.cur_title{
  font-size: 35px;
  font-weight: 800;
  margin-bottom: 25px;
  color: rgb(13, 19, 33);
}
.cur_sub_title{
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 50px;
  color: rgb(13, 19, 33);
}
.perent{
  width: 1150px;
  height: 200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  padding-bottom: 60px;
}
.child1, .child2, .child3{
  width: 360px;
  height: 150px;
  background-color: rgba(255, 76, 30, 0.05);
  text-align: start;
  padding: 25px;
  margin-right: 15px;
}
.hcj{
  font-size: 25px;
  font-weight: 800px;
  margin-bottom: 8px;
  color: rgb(13, 19, 33);
}
.discription{
  font-size: 14px;
  font-weight: 400px;
  margin-bottom: 15px;
}
.lern{
  font-size: 14px;
  font-weight: 700;
  color: rgb(13, 19, 33);
}
.child2{
  background-color: rgba(0, 76, 232, 0.05);
}
.child3{
  background-color: rgba(255, 223, 0, 0.05);
}
/* current target section style end here */
/* next target section style start here */
 .target_conteinar{
  width: 1150px;
  height: 600px;
  margin: 0 auto;
 }
 .child4, .child5, .child6{
  width: 1150px;
  height: 160px;
  display: flex;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 16px;
  align-items: center;
  margin-bottom: 15px;
 }
 .rea_taxt_conteinar{
  margin-left: 30px;
 }
/* next target section style end here */

/* main section style end here */
/* footer section style start here */
.footer_conteinar{
  width: 1150px;
  height: 320px;
  margin: 0px auto;
  border: 2px solid red;
  background-image: url(../assets/handshake.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 100px;
  text-align: center;
}
.need_title{
  font-size: 30px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  padding-top: 65px;
  margin-bottom: 15px;
}
.need_sub_title{
  font-size: 14px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  margin-bottom: 30px;
}
.submit_prent{
  display: flex;
  justify-content: center;
}
.submit_child{
  margin-top: 23px;
  margin-left: 10px;
}
.textarea{
  width: 550px;
  height: 60px;
  border-radius: 8px;
  margin-top: 20px;
}
.submit{
  width: 120px;
  height: 60px;
  border-radius: 8px;
  margin-bottom: 500px;
}
/* footer section style end here */
/* last section style start here */
.last_conteinar{
  width: 1515px;
  height: 100px;
  background-color: rgba(13, 19, 33, 0.03);
  display: flex;
  justify-content: space-between;
 align-items: center;
}
.last_taxt_conteinar{
  font-size: 20px;
  font-weight: 600;
  margin-left: 150px;
}
.three_icon{
  display: flex;
  justify-content: space-evenly;
  margin-right: 150px;
}
.facebood, .git{
  padding-right: 20px;
}
/* last section style end here */
